<div class="container">
  <div class="row">
    <div class="col-sm-6"><img src="images/product.jpg" alt=""></div>
    <div class="col-sm-6">
      <h1 class="title">
        Now offerd Courses
      </h1>
      <h3>
        Our Courses:
      </h3>
        <% courses.forEach(course => { %>
        <h5>
          <a href="<%=`/courses/${course._id}`%>">
            <p><%=course.title%></p>
          </a>
        </h5>
        <p><span>$<%= course.cost %></span></p>
       <% }) %>
      <br>
      <p><a href="/contact">Contact Us</a> today!</p>
    </div>
  </div>
</div>