<div class="container">
  <div class="row">
    <div class="col-sm-6"><img src="images/product.jpg" alt=""></div>
    <div class="col-sm-6">
      <h1 class="title">
        Learn to cook cutting edge food
      </h1>
      <h3>
        Our Courses:
      </h3>
      <ul>
        <li>Bread Making</li>
        <li>Pasta Milan</li>
        <li>Dark Chocolate Delight</li>
      </ul>
      <a href="/contact">Contact Us</a>today!
    </div>
  </div>
</div>