<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="images/people.jpg" alt="">
    </div>
    <div class="col-sm-6">
      <h1>Thank you for submiting!</h1>
      <p>Go to <a href="/">Home!</a></p>
    </div>
  </div>
</div>