<h2>Users Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
    <% users.forEach(user => { %>
      <tr>
        <a href="<%=`/users/${user._id}` %>">
          <%= user.fullName %>
        </a>
        <%= user.Email %>
        <%= user.zipCode %>
      </tr>
    <% }); %>
    </tbody>
  </table>
